<mat-sidenav-container class="h-100 w-100">
  <mat-sidenav-content>
    <div class="header d-flex align-items-center">
      <span class="ms-3">Tuyến xe</span>
    </div>
    <tabulator-table-single #tblMaster [tableData]="masterData" [columnNames]="masterColumns"
      [height]="'calc(100% - 50px)'" [maxHeight]="'100%'" [selectableRow]="false" [paginationSize]="12">
    </tabulator-table-single>
  </mat-sidenav-content>
  <mat-sidenav #rightSidebar mode="over" position="end" [opened]="isShowingRightTable" (opened)="onDetailOpened()"
    (closedStart)="onDetailClosed()" class="sidebar no-radius">
    <div class="w-100 h-100 p-3 pt-2 d-flex flex-column">
      <div class="d-flex">
        <button class="btn btn-primary mb-3 me-1" style="width: 80px;" (click)="onSave()"><i
            class="bi bi-floppy"></i>
          Lưu</button>
        <button class="btn btn-danger mb-3" style="width: 80px;" (click)="isShowingRightTable = false"><i
            class="bi bi-x-circle"></i>
          Hủy</button>
      </div>
      <div class="input-group pb-3">
        <span class="input-group-text bg-primary-subtle text-center align-middle fw-bold" for="bus_route">
          Biển số</span>
        <ngx-select id="bus_route" class="dropdown" [(ngModel)]="numberPlateSearch" [allowClear]="true"
          [items]="numberPlateList" (ngModelChange)="onSelectionChange($event)">
        </ngx-select>
      </div>
      <div class="input-group pb-3">
        <span class="input-group-text bg-primary-subtle text-center align-middle fw-bold" for="route_type">
          Lái xe</span>
        <ngx-select id="route_type" class="dropdown" [(ngModel)]="driverSearch" [allowClear]="true" [items]="driverList"
          (ngModelChange)="onSelectionChange($event)">
        </ngx-select>
      </div>
      <div class="flex-grow-1">
        <tabulator-table-single #tblDetail [tableData]="detailDataFiltered" [columnNames]="detailColumns" [height]="'100%'"
          [maxHeight]="'100%'" [hasSelection]="false" [paginationSize]="10">
        </tabulator-table-single>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
