<mat-sidenav-container class="h-100 w-100">
  <mat-sidenav-content>
    <div class="header-input d-flex mb-2">
      <div class="input-group flex-nowrap">
        <label class="text-light d-flex align-items-center px-3 fw-bold input-group-text">Type</label>
        <input type="text" class="form-control me-1">
      </div>
      <div class="input-group flex-nowrap">
        <label class="text-light d-flex align-items-center px-3 fw-bold input-group-text">Applicant</label>
        <input type="text" class="form-control me-1">
      </div>
      <div class="input-group flex-nowrap">
        <label class="text-light d-flex align-items-center px-3 fw-bold input-group-text">Search range</label>
        <input type="date" class="form-control" value="2025-09-01" ngbDatepicker #d1="ngbDatepicker"
          (click)="d1.open()">
        <span class="input-group-text">to</span>
        <input type="date" class="form-control me-1" value="2025-09-20" ngbDatepicker #d2="ngbDatepicker"
          (click)="d2.open()">
      </div>
      <div class="input-group flex-nowrap">
        <label class="text-light d-flex align-items-center px-3 fw-bold input-group-text">Register No</label>
        <input type="text" class="form-control me-1">
      </div>
      <button class="btn btn-primary d-flex align-items-center">
        <fa-icon [icon]="faGlass"></fa-icon>
        <span class="ms-1">Search</span>
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered border-primary table-striped align-middle">
        <thead class="table-primary text-center cursor-pointer">
          <tr>
            <th (click)="onSort('no')" [class]="getSortClass('no')">No</th>
            <th (click)="onSort('status')" [class]="getSortClass('status')">Status</th>
            <th (click)="onSort('registerNo')" [class]="getSortClass('registerNo')">Register No</th>
            <th (click)="onSort('type')" [class]="getSortClass('type')">Type</th>
            <th (click)="onSort('from')" [class]="getSortClass('from')">From</th>
            <th (click)="onSort('to')" [class]="getSortClass('to')">To</th>
            <th (click)="onSort('requestDetails')" [class]="getSortClass('requestDetails')">Request details</th>
            <th (click)="onSort('registerDate')" [class]="getSortClass('registerDate')">Register date</th>
            <th (click)="onSort('scheduledDate')" [class]="getSortClass('scheduledDate')">Scheduled date</th>
            <th (click)="onSort('applicant')" [class]="getSortClass('applicant')">Applicant</th>
            <th (click)="onSort('applicantDepartment')" [class]="getSortClass('applicantDepartment')">Applicant's Department
            </th>
          </tr>
        </thead>
        <tbody>
          @for (request of sortedBusRequests; track request.no) {
          <tr>
            <td>{{ request.no }}</td>
            <td>
              <span [class]="'status ' + getStatusClass(request.status)">
                {{ request.status }}
              </span>
            </td>
            <td>
              <a (click)="onRegisterNoClick()" class="register-link">
                {{ request.registerNo }}
              </a>
            </td>
            <td>{{ request.type }}</td>
            <td>{{ request.from }}</td>
            <td>{{ request.to }}</td>
            <td>{{ request.requestDetails }}</td>
            <td>{{ request.registerDate }}</td>
            <td>{{ request.scheduledDate }}</td>
            <td>{{ request.applicant }}</td>
            <td>{{ request.applicantDepartment }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #rightSidebar mode="over" position="end" [opened]="isShowingRightTable" (opened)="onDetailOpened()"
    (closedStart)="onDetailClosed()" class="sidebar no-radius">
    <div class="d-flex flex-column h-100">
      <div class="header d-flex align-items-center justify-content-between">
        <span class="ms-3">Request 532438707</span>
        <button class="btn text-light" (click)="isShowingRightTable=false;">▶</button>
      </div>
      <div style="height: calc(100% - 110px);">
        <div class="d-flex m-1">
          <button class="btn btn-sm btn-success mx-1" style="width: 90px;">
            <i class="bi bi-check"></i>Approve</button>
          <button class="btn btn-sm btn-danger mx-1" style="width: 90px;">
            <i class="bi bi-x"></i>Reject</button>
        </div>
        <div class="applicant-container pt-1 d-flex">
          <!-- Left section -->
          <div class="applicant-label d-flex flex-column align-items-center justify-content-start">
            <div class="applicant-title text-center pt-2 fw-bold fs-5">Applicant</div>
          </div>
          <!-- Right section -->
          <div class="applicant-content d-flex flex-column flex-grow-1">
            <!-- First row -->
            <div class="d-flex flex-grow-1 border-top border-dark-subtle">
              <div class="info-label fw-bold">Document no</div>
              <div class="info-value">532438707</div>
              <div class="info-label fw-bold">Register date</div>
              <div class="info-value">2025-10-17</div>
            </div>
            <!-- Second row -->
            <div class="d-flex flex-grow-1 border-top border-bottom border-dark-subtle">
              <div class="info-label fw-bold">Applicant</div>
              <div class="info-value">
                Johnny Depp / Dev Department / Leader / 123456789
              </div>
            </div>
          </div>
        </div>
        <div class="register-container pt-1 d-flex">
          <div class="register-label d-flex flex-column align-items-center justify-content-start">
            <div class="register-title text-center pt-2 fw-bold fs-5">Register details</div>
          </div>
          <div class="register-content d-flex flex-column flex-grow-1">
            <div class="d-flex flex-grow-1 border-top border-dark-subtle">
              <div class="info-label fw-bold">Location</div>
              <div class="info-value">
                VH.Subsidary
              </div>
            </div>
            <div class="d-flex flex-grow-1 border-top border-dark-subtle">
              <div class="info-label fw-bold">Reason</div>
              <div class="info-value"></div>
              <div class="info-label fw-bold">Headcount</div>
              <div class="info-value">12</div>
            </div>
            <div class="d-flex flex-grow-1 border-top border-dark-subtle">
              <div class="info-label fw-bold">Service user</div>
              <div class="info-value"></div>
            </div>
            <div class="d-flex flex-grow-1 border-top border-bottom border-dark-subtle note-section">
              <div class="info-label fw-bold">Note</div>
              <div class="info-value"></div>
            </div>
          </div>
        </div>
        <div class="register-container pt-1 d-flex">
          <div class="register-label d-flex flex-column align-items-center justify-content-start">
            <div class="register-title text-center pt-2 fw-bold fs-5">Attached files</div>
          </div>
          <div class="register-content d-flex flex-column flex-grow-1">
            <div class="d-flex flex-column flex-grow-1 border-top border-bottom border-dark-subtle">
              <div class="d-flex py-1 align-items-center">
                <label for="attachedFile" class="col-form-label col-form-label-sm me-2 fw-bold" style="width: 120px;">
                  Attached file
                </label>
                <input type="file" class="form-control form-control-sm" id="attachedFile">
              </div>
              <table class="table table-bordered border-primary">
                <thead class="table-secondary">
                  <tr>
                    <th>File name</th>
                    <th>Size</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="/imgs/icons/doc.png" class="me-1"><a (click)="isShowingRightTable = true">Đơn đăng
                        ký.doc</a></td>
                    <td>1.2MB</td>
                    <td class="d-flex justify-content-center"><button class="btn btn-danger btn-sm btn-del"><i
                          class="bi bi-trash"></i></button></td>
                  </tr>
                  <tr>
                    <td><img src="/imgs/icons/xls.png" class="me-1"><a (click)="isShowingRightTable = true">Danh sách
                        nhân viên.xlsx</a></td>
                    <td>3.5MB</td>
                    <td class="d-flex justify-content-center"><button class="btn btn-danger btn-sm btn-del"><i
                          class="bi bi-trash"></i></button></td>
                  </tr>
                  <tr>
                    <td><img src="/imgs/icons/pdf.png" class="me-1"><a (click)="isShowingRightTable = true">Thông tin
                        xe.pdf</a></td>
                    <td>4.9MB</td>
                    <td class="d-flex justify-content-center"><button class="btn btn-danger btn-sm btn-del"><i
                          class="bi bi-trash"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="register-container pt-1 d-flex">
          <div class="register-label d-flex flex-column align-items-center justify-content-start">
            <div class="register-title text-center pt-2 fw-bold fs-5">Approval process</div>
          </div>
          <div class="register-content d-flex flex-column flex-grow-1">
            <div class="d-flex flex-grow-1 border-top border-bottom border-dark-subtle">
              <table class="table table-bordered border-primary">
                <thead class="table-secondary">
                  <tr>
                    <th>Progress</th>
                    <th>Order</th>
                    <th>Responsible position</th>
                    <th>Responsible personel</th>
                    <th>Status</th>
                    <th>Check time</th>
                    <th>Accept time</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Yêu cầu</td>
                    <td>1st</td>
                    <td>TL</td>
                    <td>Joongi Han</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>VH External Cooperation Team / Team Leader / /6/6-208-0024 / 090-606-7787</td>
                  </tr>
                  <tr>
                    <td>Xử lý</td>
                    <td>2nd</td>
                    <td>Người phụ trách</td>
                    <td>BusinessTripCar</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Welfare Part / 090-606-7787</td>
                  </tr>
                  <tr>
                    <td>Xử lý</td>
                    <td>3rd</td>
                    <td>Người phụ trách</td>
                    <td>Keanu</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>VH External / 090-606-7787</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
