<mat-sidenav-container class="h-100 w-100">
  <mat-sidenav-content>
    <div class="header d-flex align-items-center">
      <span class="ms-3">Tuyến xe</span>
    </div>
    <tabulator-table-single #tblMaster [tableData]="masterData" [columnNames]="masterColumns"
      [height]="'calc(100% - 50px)'" [maxHeight]="'100%'" [selectableRow]="false" [paginationSize]="12">
    </tabulator-table-single>
  </mat-sidenav-content>
  <mat-sidenav #rightSidebar mode="over" position="end" [opened]="isShowingRightTable" (opened)="onDetailOpened()"
    (closedStart)="onDetailClosed()" class="sidebar no-radius">
    <div class="w-100 h-100 d-flex">
      <button class="btn-close btn-close-black btn-close-map" (click)="isShowingRightTable = false"></button>
      <div class="w-60 h-100">
        <location-picker></location-picker>
      </div>
      <div class="w-40 h-100 p-3 pt-2 d-flex flex-column">
        <div class="d-flex">
          <button class="btn btn-primary mb-3 me-1" style="width: 80px;" (click)="isShowingRightTable = false"><i class="bi bi-floppy"></i>
            Lưu</button>
          <button class="btn btn-danger mb-3" style="width: 80px;" (click)="isShowingRightTable = false"><i class="bi bi-x-circle"></i>
            Hủy</button>
        </div>
        <div class="input-group pb-3">
          <span class="input-group-text bg-primary-subtle text-center align-middle" for="bus_route">Tên tuyến</span>
          <input type="text" id="bus_route" class="form-control" [(ngModel)]="currentRoute.routeName">
        </div>
        <div class="input-group pb-3">
          <span class="input-group-text bg-primary-subtle text-center align-middle" for="route_type">Loại tuyến</span>
          <ngx-select id="route_type" class="dropdown" [allowClear]="true" [items]="['Ca sáng', 'Ca chiều', 'Ca tối']"
            [(ngModel)]="currentRoute.turnName">
          </ngx-select>
        </div>
        <div class="input-group pb-3">
          <span class="input-group-text bg-primary-subtle text-center align-middle" for="note">Ghi chú</span>
          <textarea type="text" id="note" class="form-control" [(ngModel)]="currentRoute.note"></textarea>
        </div>
        <div class="flex-grow-1">
          <tabulator-table-single #tblMaster [tableData]="detailData" [columnNames]="detailColumns" [height]="'100%'"
            [maxHeight]="'100%'" [selectableRow]="false" [paginationSize]="7">
          </tabulator-table-single>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
<ng-template #arriveTimeInputTemplate let-row="row">
  <ngb-timepicker [(ngModel)]="row.ArriveTime" [spinners]="false" />
</ng-template>
<ng-template #offsetDurationInputTemplate let-row="row">
  <ngb-timepicker class="offset-duration" [(ngModel)]="row.OffsetDuration" [seconds]="true" [spinners]="false"
    [hourStep]="0" />
</ng-template>
<ng-container #vcHost></ng-container>
