<div class="bg-auth">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main class="d-flex w-100 justify-content-center position-absolute">
        <div class="container position-absolute">
          <div class="row justify-content-center">
            <div class="col-lg-5">
              <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header d-flex justify-content-center mt-1">
                  <img src="/imgs/rtc-logo.png" />
                </div>
                <div class="card-body px-lg-5 px-3 pt-0">
                  <p #messageEl class="message text-center">{{message}}</p>
                  <form autocomplete="on" id="form_login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="username" type="text" name="username" placeholder="Tên đăng nhập"
                        autofocus autocomplete="username" required formControlName="username"/>
                      <label for="username">Tên đăng nhập</label>
                    </div>
                    <div class="form-floating mb-3 position-relative">
                      <input class="form-control" id="password" type="password" name="password" placeholder="Mật khẩu"
                        autocomplete="current-password" required formControlName="password"/>
                      <label for="password">Mật khẩu</label>
                      <div class="position-absolute d-flex flex-column justify-content-center show-password"
                        (click)="showPassword = !showPassword">
                        <fa-icon class="d-flex justify-content-center" [icon]="showPassword? eyeSlashIcon : eyeIcon">
                        </fa-icon>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-login mt-3">Đăng nhập</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
