<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="isSideNavSideMode ? 'side' : 'over'" (openedChange)="onDrawerOpenChange($event)"
    [opened]="isSideNavOpened">
    <div class="d-flex flex-column align-items-center h-100 side-bar-menu">
      <mat-toolbar>
        <img class="rtc-logo" src="/imgs/rtc-icon.png">
        <span class="spacer"></span>
        <button mat-icon-button (click)="onDrawerModeChange()">
          <mat-icon fontSet="material-symbols-outlined">{{isSideNavSideMode?'keep_off':'keep'}}</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list class="w-100">
        <a mat-list-item data-tab-name="Update commuter bus route" (click)="onAddTab('Update commuter bus route', bus)">
          <img matListIcon src="/imgs/icons/dashboard.png" class="icon me-1">
          <span class="fw-bold">Commuter bus route</span>
        </a>
        <a mat-list-item (click)="categoriesOpen = !categoriesOpen" [class.open]="categoriesOpen">
          <img matListIcon src="/imgs/icons/categories.png" class="icon me-1">
          <span class="fw-bold">Categories</span>
          <span class="w-25"></span>
          <fa-icon [icon]="categoriesOpen? faChevup:faChevdown" class="chevron"></fa-icon>
        </a>
        <div class="submenu ps-4" [class.open]="categoriesOpen">
          <a mat-list-item data-tab-name="Areas" (click)="onAddTab('Areas', area)">
            <img matListIcon src="/imgs/icons/areas.png" class="icon me-1">
            <span class="fw-bold">Areas</span>
          </a>
          <a mat-list-item data-tab-name="Locations" (click)="onAddTab('Locations', location)">
            <img matListIcon src="/imgs/icons/locations.png" class="icon me-1">
            <span class="fw-bold">Locations</span>
          </a>
          <a mat-list-item data-tab-name="Route types" (click)="onAddTab('Route types', routeType)">
            <img matListIcon src="/imgs/icons/communication.png" class="icon me-1">
            <span class="fw-bold">Route types</span>
          </a>
        </div>
      </mat-nav-list>
      <div class="spacer"></div>
      <div class="w-100" style="height: 52px;">
        <button mat-icon-button class="d-flex justify-content-center ms-1" [cdkMenuTriggerFor]="profileMenu"
          aria-label="Account options">
          <mat-icon fontIcon="account_circle"></mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper">
      <button #btnToggle class="toggle-btn" [class.open]="!isSideNavOpened"
        (click)="drawer.toggle();btnToggle.classList.toggle('open', isSideNavOpened)">
      </button>
      <div class="content">
        <dynamic-tabs #tabContainer />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #profileMenu>
  <div class="profile-menu" cdkMenu>
    <button mat-menu-item class="profile-menu-item">
      <mat-icon>person</mat-icon>
      <span>Tài khoản</span>
    </button>
    <button mat-menu-item class="profile-menu-item">
      <mat-icon>logout</mat-icon>
      <span>Đăng xuất</span>
    </button>
  </div>
</ng-template>
