<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="isSideNavSideMode ? 'side' : 'over'" (openedChange)="onDrawerOpenChange($event)"
    [opened]="isSideNavOpened">
    <div class="d-flex flex-column align-items-center h-100 side-bar-menu">
      <mat-toolbar>
        <img class="rtc-logo" src="/imgs/rtc-icon.png">
        <span class="spacer"></span>
        <button mat-icon-button (click)="onDrawerModeChange()">
          <mat-icon fontSet="material-symbols-outlined">{{isSideNavSideMode?'keep_off':'keep'}}</mat-icon>
        </button>
      </mat-toolbar>
      <mat-nav-list class="w-100">
        @if(isAdmin && !isUser && !isSupplier){
        <a mat-list-item data-tab-name="Tuyến xe" (click)="onAddTab('Tuyến xe', bus, true)">
          <img matListIcon src="/imgs/icons/dashboard.png" class="icon me-1">
          <span class="fw-sidenav">Tuyến xe</span>
        </a>
        <a mat-list-item data-tab-name="Báo cáo vấn đề" (click)="onAddTab('Báo cáo vấn đề', issue)">
          <img matListIcon src="/imgs/icons/issue.png" class="icon me-1">
          <span class="fw-sidenav">Báo cáo vấn đề</span>
        </a>
        <a mat-list-item (click)="applicationFormOpen = !applicationFormOpen" [class.open]="applicationFormOpen">
          <img matListIcon src="/imgs/icons/forms.png" class="icon me-1">
          <span class="fw-sidenav">Đơn yêu cầu</span>
          <span class="spacer"></span>
          <fa-icon [icon]="applicationFormOpen? faChevup:faChevdown" class="chevron"></fa-icon>
        </a>
        <div class="submenu" [class.open]="applicationFormOpen">
          <a mat-list-item data-tab-name="Yêu cầu xe sự kiện"
            (click)="onAddTab('Yêu cầu xe sự kiện', requestFormEvent)">
            <img matListIcon src="/imgs/icons/events.png" class="icon me-1">
            <span class="fw-sidenav">Yêu cầu xe sự kiện</span>
          </a>
          <a mat-list-item data-tab-name="Yêu cầu tuyến mới" (click)="onAddTab('Yêu cầu tuyến mới', requestFormRoute)">
            <img matListIcon src="/imgs/icons/bus.png" class="icon me-1">
            <span class="fw-sidenav">Yêu cầu tuyến mới</span>
          </a>
          <a mat-list-item data-tab-name="Yêu cầu điểm dừng mới"
            (click)="onAddTab('Yêu cầu điểm dừng mới', requestFormStop)">
            <img matListIcon src="/imgs/icons/bus-stop.png" class="icon me-1">
            <span class="fw-sidenav">Yêu cầu điểm dừng mới</span>
          </a>
          <a mat-list-item data-tab-name="Tổng hợp vấn đề" (click)="onAddTab('Tổng hợp vấn đề', issueSummary)">
            <img matListIcon src="/imgs/icons/issue-summary.png" class="icon me-1">
            <span class="fw-sidenav">Tổng hợp vấn đề</span>
          </a>
        </div>
        <a mat-list-item data-tab-name="Duyệt đơn" (click)="onAddTab('Duyệt đơn', approval)">
          <img matListIcon src="/imgs/icons/approval.png" class="icon me-1">
          <span class="fw-sidenav">Duyệt đơn</span>
        </a>
        <a mat-list-item data-tab-name="Quản lý lịch trình" (click)="onAddTab('Quản lý lịch trình', schedule)">
          <img matListIcon src="/imgs/icons/schedule.png" class="icon me-1">
          <span class="fw-sidenav">Quản lý lịch trình</span>
        </a>
        <a mat-list-item data-tab-name="Quản lý vận hành" (click)="onAddTab('Quản lý vận hành', operation)">
          <img matListIcon src="/imgs/icons/operation.png" class="icon me-1">
          <span class="fw-sidenav">Quản lý vận hành</span>
        </a>
        <a mat-list-item data-tab-name="Lịch sử quẹt thẻ" (click)="onAddTab('Lịch sử quẹt thẻ', scanHistory)">
          <img matListIcon src="/imgs/icons/scan.png" class="icon me-1">
          <span class="fw-sidenav">Lịch sử quẹt thẻ</span>
        </a>
        <a mat-list-item data-tab-name="Quản lý thanh toán" (click)="paymentManagementOpen = !paymentManagementOpen"
          [class.open]="paymentManagementOpen">
          <img matListIcon src="/imgs/icons/payment.png" class="icon me-1">
          <span class="fw-sidenav">Quản lý thanh toán</span>
          <span class="spacer"></span>
          <fa-icon [icon]="paymentManagementOpen? faChevup:faChevdown" class="chevron"></fa-icon>
        </a>
        <div class="submenu" [class.open]="paymentManagementOpen">
          <a mat-list-item data-tab-name="Đơn giá" (click)="onAddTab('Đơn giá', pricing)">
            <img matListIcon src="/imgs/icons/pricing.png" class="icon me-1">
            <span class="fw-sidenav">Đơn giá</span>
          </a>
          <a mat-list-item data-tab-name="Dịch vụ" (click)="onAddTab('Dịch vụ', serviceCompletion)">
            <img matListIcon src="/imgs/icons/service-outcome.png" class="icon me-1">
            <span class="fw-sidenav">Dịch vụ</span>
          </a>
        </div>
        <a mat-list-item (click)="categoriesOpen = !categoriesOpen" [class.open]="categoriesOpen">
          <img matListIcon src="/imgs/icons/categories.png" class="icon me-1">
          <span class="fw-sidenav">Danh mục</span>
          <span class="spacer"></span>
          <fa-icon [icon]="categoriesOpen? faChevup:faChevdown" class="chevron"></fa-icon>
        </a>
        <div class="submenu" [class.open]="categoriesOpen">
          <a mat-list-item data-tab-name="Khu vực" (click)="onAddTab('Khu vực', area)">
            <img matListIcon src="/imgs/icons/areas.png" class="icon me-1">
            <span class="fw-sidenav">Khu vực</span>
          </a>
          <a mat-list-item data-tab-name="Địa điểm" (click)="onAddTab('Địa điểm', location)">
            <img matListIcon src="/imgs/icons/locations.png" class="icon me-1">
            <span class="fw-sidenav">Địa điểm</span>
          </a>
          <a mat-list-item data-tab-name="Loại tuyến" (click)="onAddTab('Loại tuyến', routeType)">
            <img matListIcon src="/imgs/icons/communication.png" class="icon me-1">
            <span class="fw-sidenav">Loại tuyến</span>
          </a>
          <a mat-list-item data-tab-name="Phương tiện" (click)="onAddTab('Phương tiện', vehicles)">
            <img matListIcon src="/imgs/icons/car.png" class="icon me-1">
            <span class="fw-sidenav">Phương tiện</span>
          </a>
        </div>
        }
        @if(isUser && !isAdmin && !isSupplier){
        <a mat-list-item data-tab-name="Báo cáo vấn đề" (click)="onAddTab('Báo cáo vấn đề', issue)">
          <img matListIcon src="/imgs/icons/issue.png" class="icon me-1">
          <span class="fw-sidenav">Báo cáo vấn đề</span>
        </a>
        <a mat-list-item (click)="applicationFormOpen = !applicationFormOpen" [class.open]="applicationFormOpen">
          <img matListIcon src="/imgs/icons/forms.png" class="icon me-1">
          <span class="fw-sidenav">Đơn yêu cầu</span>
          <span class="spacer"></span>
          <fa-icon [icon]="applicationFormOpen? faChevup:faChevdown" class="chevron"></fa-icon>
        </a>
        <div class="submenu" [class.open]="applicationFormOpen">
          <a mat-list-item data-tab-name="Yêu cầu xe sự kiện"
            (click)="onAddTab('Yêu cầu xe sự kiện', requestFormEvent)">
            <img matListIcon src="/imgs/icons/events.png" class="icon me-1">
            <span class="fw-sidenav">Yêu cầu xe sự kiện</span>
          </a>
          <a mat-list-item data-tab-name="Yêu cầu tuyến mới" (click)="onAddTab('Yêu cầu tuyến mới', requestFormRoute)">
            <img matListIcon src="/imgs/icons/bus.png" class="icon me-1">
            <span class="fw-sidenav">Yêu cầu tuyến mới</span>
          </a>
          <a mat-list-item data-tab-name="Yêu cầu điểm dừng mới"
            (click)="onAddTab('Yêu cầu điểm dừng mới', requestFormStop)">
            <img matListIcon src="/imgs/icons/bus-stop.png" class="icon me-1">
            <span class="fw-sidenav">Yêu cầu điểm dừng mới</span>
          </a>
        </div>
        }
        @if(isSupplier && !isAdmin && !isUser){
        <a mat-list-item data-tab-name="Quản lý thanh toán" (click)="paymentManagementOpen = !paymentManagementOpen"
          [class.open]="paymentManagementOpen">
          <img matListIcon src="/imgs/icons/payment.png" class="icon me-1">
          <span class="fw-sidenav">Quản lý thanh toán</span>
          <span class="spacer"></span>
          <fa-icon [icon]="paymentManagementOpen? faChevup:faChevdown" class="chevron"></fa-icon>
        </a>
        <div class="submenu" [class.open]="paymentManagementOpen">
          <a mat-list-item data-tab-name="Đơn giá" (click)="onAddTab('Đơn giá', pricing)">
            <img matListIcon src="/imgs/icons/pricing.png" class="icon me-1">
            <span class="fw-sidenav">Đơn giá</span>
          </a>
          <a mat-list-item data-tab-name="Dịch vụ" (click)="onAddTab('Dịch vụ', serviceCompletion)">
            <img matListIcon src="/imgs/icons/service-outcome.png" class="icon me-1">
            <span class="fw-sidenav">Dịch vụ</span>
          </a>
        </div>
        }
      </mat-nav-list>
      <div class="spacer"></div>
      <div class="w-100" style="height: 52px;">
        <button mat-icon-button class="d-flex justify-content-center ms-1" [cdkMenuTriggerFor]="profileMenu"
          aria-label="Account options">
          <mat-icon fontIcon="account_circle"></mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-wrapper">
      <button #btnToggle class="toggle-btn" [class.open]="!isSideNavOpened"
        (click)="drawer.toggle();btnToggle.classList.toggle('open', isSideNavOpened)">
      </button>
      <div class="content">
        <dynamic-tabs #tabContainer />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #profileMenu>
  <div class="profile-menu" cdkMenu>
    <button mat-menu-item class="profile-menu-item">
      <mat-icon>person</mat-icon>
      <span>Tài khoản</span>
    </button>
    <button mat-menu-item class="profile-menu-item" (click)="onLogOut()">
      <mat-icon>logout</mat-icon>
      <span>Đăng xuất</span>
    </button>
  </div>
</ng-template>
