.header {
  height: 38px;
  font-size: 18px;
}

.header label {
  background-color: #2DA4CB;
}

.card {
  height: calc(100% - 42px);
}

table {
  font-size: 14px;
}

.overflow-auto {
  max-height: 738px;
}

.overflow-auto thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.table thead th {
  position: relative;
  padding-left: .2rem;
}

.table thead th:after {
  content: "";
  position: absolute;
  top: 50%;
  right: .15em;
  transform: translateY(-50%);
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
  border-bottom: 0;
}

.file-upload-card {
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background: #fff;
  font-family: sans-serif;
}

.file-label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}

form label {
  width: 130px;
}
form label.type-2 {
  width: 111px;
}
form .input {
  flex: 1 1 0;
}

.col-stt {
  width: 50px;
}

.col-type {
  width: 120px;
}

.col-cat {
  width: 300px;
}

.col-price {
  width: 150px;
}

.col-start {
  width: 250px;
}

.col-end {
  width: 250px;
}

.col-supplier {
  width: 150px;
}

.col-area {
  width: 200px;
}

.col-route {
  width: 200px;
}
