.header {
  height: 38px;
  font-size: 18px;
}

.header label {
  background-color: #2DA4CB;
}

.card {
  height: calc(100% - 42px);
}

table {
  font-size: 14px;
}

.overflow-auto {
  max-height: 738px;
}

.overflow-auto thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.table thead th {
  position: relative;
  padding-left: .2rem;
}

/* Ascending sort - default */
.sort-asc:after {
  content: "";
  position: absolute;
  top: 50%;
  right: .15em;
  transform: translateY(-50%);
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
  border-bottom: 0;
}

/* Descending sort - opposite */
.sort-desc:after {
  content: "";
  position: absolute;
  top: 50%;
  right: .15em;
  transform: translateY(-50%);
  border-top: 0;
  border-bottom: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}

.file-upload-card {
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background: #fff;
  font-family: sans-serif;
}

.file-label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
}

form label {
  max-width: 174px;
}

form .input {
  flex: 1 1 0;
}

a {
  color: rgb(10, 88, 202) !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.sidebar {
  width: 100%;
}

.no-radius {
  border-radius: 0 !important;
}

.btn-close-map {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
}
