<div class="header d-flex mb-2">
  <div class="input-group flex-nowrap">
    <label class="text-light d-flex align-items-center px-3 fw-bold input-group-text">Plate number</label>
    <input type="text" class="form-control me-1">
  </div>
  <div class="input-group flex-nowrap">
    <label class="text-light d-flex align-items-center px-3 fw-bold input-group-text">Route name</label>
    <input type="text" class="form-control me-1">
  </div>
  <div class="input-group flex-nowrap">
    <label class="text-light d-flex align-items-center px-3 fw-bold input-group-text">Search range</label>
    <input type="date" class="form-control" value="2025-09-01" ngbDatepicker #d1="ngbDatepicker" (click)="d1.open()">
    <span class="input-group-text">to</span>
    <input type="date" class="form-control me-1" value="2025-09-20" ngbDatepicker #d2="ngbDatepicker"
      (click)="d2.open()">
  </div>
  <button class="btn btn-primary d-flex align-items-center">
    <fa-icon [icon]="faGlass"></fa-icon>
    <span class="ms-1">Search</span>
  </button>
</div>
<div class="card">
  <div class="card-header">
    <div class="d-flex gap-1" ngbDropdown>
      <button class="btn btn-primary-alt" (click)="openModal()">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="ms-1">Add</span>
      </button>
      <button class="btn btn-success-alt">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
        <span class="ms-1">Edit</span></button>
      <button #btnDeleteMaster class="btn btn-danger-alt">
        <fa-icon [icon]="faTrash"></fa-icon>
        <span class="ms-1">Delete</span></button>
      <button #btnDeleteMaster id="btn_import" class="btn btn-primary" ngbDropdownToggle>
        <fa-icon [icon]="faImport"></fa-icon>
        <span class="ms-1">Import</span></button>
      <div ngbDropdownMenu aria-labelledby="btn_import" class="file-upload-card">
        <label class="file-label">
          <span>Select a file:</span>
          <input type="file" class="form-control">
        </label>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 25%">25%</div>
        </div>
      </div>
      <button #btnDeleteMaster class="btn btn-success">
        <fa-icon [icon]="faExport"></fa-icon>
        <span class="ms-1">Export</span></button>
    </div>
  </div>
  <div class="card-body">
    <div class="overflow-auto">
      <mat-sidenav-container class="h-100 w-100">
        <mat-sidenav-content>
          <table class="table table-bordered table-sm table-striped border-primary text-center">
            <thead class="table-primary fw-bold small text-start cursor-pointer">
              <tr>
                <th (click)="onSort('stt')" [class]="getSortClass('stt')">
                  STT
                </th>
                <th (click)="onSort('ngay')" [class]="getSortClass('ngay')">
                  Ngày
                </th>
                <th (click)="onSort('gio')" [class]="getSortClass('gio')">
                  Giờ
                </th>
                <th (click)="onSort('moTa')" [class]="getSortClass('moTa')">
                  Mô tả
                </th>
                <th (click)="onSort('khuVuc')" [class]="getSortClass('khuVuc')">
                  Khu vực
                </th>
                <th (click)="onSort('diaDiem')" [class]="getSortClass('diaDiem')">
                  Địa điểm
                </th>
                <th (click)="onSort('nhaCungCap')" [class]="getSortClass('nhaCungCap')">
                  Nhà cung cấp
                </th>
                <th (click)="onSort('bienSo')" [class]="getSortClass('bienSo')">
                  Biển số
                </th>
                <th (click)="onSort('tinhTrangSapXep')" [class]="getSortClass('tinhTrangSapXep')">
                  Tình trạng sắp xếp
                </th>
                <th (click)="onSort('tinhTrangVanHanh')" [class]="getSortClass('tinhTrangVanHanh')">
                  Tình trạng vận hành
                </th>
                <th (click)="onSort('soLuong')" [class]="getSortClass('soLuong')">
                  Số lượng
                </th>
                <th>GPS</th>
              </tr>
            </thead>
            <tbody>
              @for (item of sortedData; track $index) {
              <tr>
                <td>{{ item.stt }}</td>
                <td>{{ item.ngay }}</td>
                <td>{{ item.gio }}</td>
                <td>{{ item.moTa }}</td>
                <td>{{ item.khuVuc }}</td>
                <td>{{ item.diaDiem }}</td>
                <td>{{ item.nhaCungCap }}</td>
                <td>{{ item.bienSo }}</td>
                <td>{{ item.tinhTrangSapXep }}</td>
                <td>{{ item.tinhTrangVanHanh }}</td>
                <td>{{ item.soLuong }}</td>
                <td>
                  @if(item.gps){
                  <a (click)="isShowingRightTable = true">
                    {{ item.gps }}
                  </a>
                  }
                </td>
              </tr>
              }
            </tbody>
          </table>
        </mat-sidenav-content>
        <mat-sidenav #rightSidebar mode="over" position="end" [opened]="isShowingRightTable" (opened)="onDetailOpened()"
          (closedStart)="onDetailClosed()" class="sidebar no-radius">
          <map></map>
          <button class="btn-close btn-close-black btn-close-map" (click)="isShowingRightTable = false"></button>
        </mat-sidenav>
      </mat-sidenav-container>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-area">Operation management</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container">
        <div class="row mb-2">
          <label class="col-form-label  fw-bold" for="route_name">Route name</label>
          <div class="input">
            <ngx-select id="route_name" placeholder="Choose a route" [allowClear]="true"
              [items]="['Route 1','Route 2','Route 3']">
            </ngx-select>
          </div>
          <label class="col-form-label  fw-bold" for="route_type" style="width: 115px">Route type</label>
          <div class="input">
            <ngx-select id="route_type" placeholder="Choose a route type" [allowClear]="true"
              [items]="['Về ca HC','Về Ca đêm','Đi làm ca ngày và HC']">
            </ngx-select>
          </div>
          <label class="col-form-label  fw-bold" for="area" style="width: 50px">Area</label>
          <div class="input">
            <ngx-select id="area" placeholder="Choose an area" [allowClear]="true"
              [items]="['Inner Haiphong','Suburban Haiphong','Other Provinces']">
            </ngx-select>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-form-label  fw-bold" for="supplier">Supplier</label>
          <div class="input">
            <ngx-select id="supplier" placeholder="Choose a supplier" [allowClear]="true"
              [items]="['Supplier 1','Supplier 2','Supplier 3']">
            </ngx-select>
          </div>
          <label class="col-form-label  fw-bold" for="plate_number" style="width: 135px">Plate number</label>
          <div class="input">
            <input id="plate_number" class="form-control">
          </div>
          <label class="col-form-label  fw-bold" for="op_number" style="max-width: 185px;">Number of operator</label>
          <div class="input">
            <input type="number" id="op_number" class="form-control">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-form-label  fw-bold" for="date">Date</label>
          <div class="input">
            <input type="date" id="date" class="form-control" ngbDatepicker #d="ngbDatepicker" (click)="d.open()"
              value="2025-09-01" />
          </div>
          <label class="col-form-label  fw-bold" for="scheduled_time">Scheduled time</label>
          <div class="input">
            <ngb-timepicker [(ngModel)]="time" [spinners]="false" name="scheduled_time" />
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-form-label  fw-bold" for="management_status">Management status</label>
          <div class="input">
            <ngx-select id="management_status" [allowClear]="true" [items]="['Chưa sắp xếp', 'Đã sắp xếp']">
            </ngx-select>
          </div>
          <label class="col-form-label  fw-bold" for="operation_status">Operation status</label>
          <div class="input">
            <ngx-select id="operation_status" [allowClear]="true" [items]="['Chưa vận hành', 'Đã vận hành']">
            </ngx-select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Save</button>
  </div>
</ng-template>
