.label-background {
  background-color: rgb(110, 185, 211);
}

.col-4 label,
.col-8 label {
  width: 150px;
  text-align: center !important;
  padding: 0.375rem 0.75rem;
}

.search-div {
  height: 15%;
  margin: 0;
  max-width: 100% !important;
}

.table-div {
  height: 85%;
}

.sidebar {
  width: 100%;
}

.no-radius {
  border-radius: 0 !important;
}

.btn-close-map {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
}
